body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header */
header {
  display: flex;
}

input {
  height: 30px;
  margin: 20px 50px;
  width: 1000px;
  background-color: rgba(0,0,0,.16);
  border-radius: 5px;
  border: 1px solid #cecece;
  padding-left: 10px;
}

::placeholder {
  color: black;
}

.logo {
  width: 176px;
  padding: 20px;
}

.icon {
  padding-top: 25px;
  width: 25px;
  height: 22px;
  padding-right: 20px;
}

/* Slogan */
.slogan {
  min-height: 150px;
  background-color: black;
  display: flex;
}

.slogan-title {
  width: 50%;
  text-align: center;
}

.bodies-slogan {
  width: 50%;
}

.slogan-style {
  padding-top: 10px;
  color: white;
  padding-left: 100px;
}

.bodies-image {
  padding: 10px;
  width: 500px;
}

/* Corpo do site */
.container {
  margin: 40px;
  display: flex;
}

.content-left {
  width: 60%;
}

.content-right {
  padding-top: 50px;
  width: 35%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.align-item {
  display: flex;
  flex-direction: row;
  padding-right: 36px;
}

.marfinno {
  height: 10px;
  width: 77px;
  padding-top: 11px;
}

.pinterest {
  width: 70px;
  padding-left: 240px;
}

.liked {
  padding-left: 10px;
  width: 24px;
  height: 20px;
  padding-top: 5px;
}

.router {
  font-size: 10px;
  color: #cecece;
}

.img-styles {
  width: 45%;
}

.dress-description {
  display: flex;
  font-size: 20px;
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.price-divided {
  font-size: 15px;
}

.star-points {
  width: 15px;
  margin-right: 10px;
}

.points-earned {
  font-size: 15px;
  color: #919191;
}

.buy-button-group {
  text-align: center;
}

.buy-button {
  background-color: rgb(40, 199, 138);
  width: 300px;
  height: 50px;
  margin: 10px 0px;
  border: 1px solid rgba(145, 145, 145, 0.5);
  color: white;
}

.one-click-button {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid rgba(145, 145, 145, 0.5);
  background-color: white;
}

.one-click {
  color: red;
}

/* Botões de Tamanho */
.size-buttons-group {
  display: flex;
  margin-left: -10px;
  margin-top: 12px;
}

.size-buttons {
  margin: 0px 0px 0px 10px;
  width: 35px;
  height: 30px;
  background-color: white;
  border: 1px solid #cecece;
}

.ref {
  font-size: 12px;
  color: #c2c2c2;
}

.squares-group {
  display: flex;
}

.square-border {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: 8px;
}

.square-solid {
  width: 27px;
  height: 27px;
}

.square-color-one {
  background-color: black;
}

.square-color-two {
  background-color: #3C973F;
}

.square-color-three {
  background-color: #94778B;
}

.square-color-four {
  background-color: #D0B17A;
}

.square-color-five {
  background-color: #F2E8CF;
}

.description-title {
  color: #919191;
  font-size: 16px;
}

.description-title li {
  font-size: 14px;
}

.description {
  color: #919191;
  font-size: 16px;
}

/* Measures */
.measures {
  padding-top: 20px;
  display: flex;
}

.img-measures {
  width: 35px;
  margin-right: 4px;
}

.provador-virtual-medidas {
  font-size: 13px;
  color: #919191;
  padding-top: 8px;
  padding-right: 15px;
}

/* Color Styling */
.color-component {
  border-radius: 10px;
  border: 1px solid #6cac73;
  padding: 15px;
  display: flex;
}

.container-color {
  display: flex;
  width: 40%;
}

.image-colors {
  width: 70px;
  height: 70px;
  margin: auto;
}

.style-text {
  font-size: 20px;
  color: #254128;
}

.link-to-consulting {
  color: #254128;
}

/* Stylish Page */

.text {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;  
  color: #254128;
}

.consulting {
  margin: 80px 100px;
  font-size: 24px;
  text-align: center;
  color: #254128;
}

.consulting a {
  margin: 50px 150px;
  color: #254128;
}